@model IQueryable<MVCempty.Models.order>
@{
    ViewBag.Title = "Orders";
}
<h2>Orders</h2>

<a class="btn btn-info" href="/Orders/AddOrder">Add Order</a> <br /><br />

<table class="CSSTableGenerator">
    <tr>
        <td>Name</td>
        <td>Quantity</td>
        <td>Progress</td>
        <td>Delete</td>
    </tr>
    @if (Model != null)
    {
        foreach (MVCempty.Models.order ord in Model)
        {
            <tr>
                <td style="width:40%;"><a href="/Orders/EditOrder/@ord.order_id">@ord.product.name</a></td>
                <td style="width:30%; text-align:center;">@ord.quantity</td>
                <td style="text-align:center;">
                    @if (ord.progress == 0)
                    {
                        WriteLiteral("<a class=\"btn btn-info\" href=\"/Orders/ProductShipped/" + ord.order_id + "\">Product Shipped</a>");
                    }
                    else if (ord.progress == 1)
                    {
                        WriteLiteral("<a class=\"btn btn-info\" href=\"/Orders/PriceList/" + ord.order_id + "\">Price List</a>");
                    }
                    else if (ord.progress == 2)
                    {
                        WriteLiteral("Done!");
                    }
                </td>
                <td style="text-align:center;"><a href="/Orders/DeleteOrder/@ord.order_id">Delete</a></td>
            </tr>
        }
    }
</table>
