@{
    ViewBag.Title = "Home page";
}
<div style="width:100%; text-align:center;">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="/Products"><img class="img-thumbnail" src="~/Content/images/product.png" /></a>
        </div>
        <div class="caption">
            <h3>Products</h3>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="/Orders"><img class="img-thumbnail" src="~/Content/images/order.png" /></a>
        </div>
        <div class="caption">
            <h3>Orders</h3>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="/Customers"><img class="img-thumbnail" src="~/Content/images/customer.png" /></a>
        </div>
        <div class="caption">
            <h3>Customers</h3>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="/Currencies"><img class="img-thumbnail" src="~/Content/images/currency.png" /></a>
        </div>
        <div class="caption">
            <h3>Currencies</h3>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="/Suppliers"><img class="img-thumbnail" src="~/Content/images/supplier.png" /></a>
        </div>
        <div class="caption">
            <h3>Suppliers</h3>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="/Accounts"><img class="img-thumbnail" src="~/Content/images/account.png" /></a>
        </div>
        <div class="caption">
            <h3>Accounts</h3>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href="/Stores"><img class="img-thumbnail" src="~/Content/images/store.png" /></a>
        </div>
        <div class="caption">
            <h3>Stores</h3>
        </div>
    </div>
</div>
<br />

