
@{
    ViewBag.Title = "AddProduct";
}
<h2>Add Product</h2>
@using (Html.BeginForm())
{
    <p>Name: <input name="name" /></p>
    <p>Price: <input name = "price" /> </p>
    <p><input type = "submit" /></p>
}


