
@{
    ViewBag.Title = "Edit Supplier";
}

<h2>Edit Supplier</h2>


@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="name">Name:</label>
        <input id="name" value="@ViewBag.Supplier.name" class="form-control" name="name" />
    </div>

    <button type="submit" class="btn btn-default">Edit</button>
}
